beautifulsoup4==4.8.0
flair==0.5
matplotlib==3.2.1
nltk==3.5
numpy==1.22.0
pandas==1.0.3
segtok==1.5.10
spacy==2.2.3
tokenizers==0.7.0
torch==1.5.0
tqdm==4.46.0
transformers==2.10.0
tika==1.22
python-docx==0.8.10
wikipedia~=1.4.0
